:root {
  --text-colour: #757575;
  --header-text-colour: #212121;
  --accent-colour: #2196f3;
  --backround-colour: #ffffff;
  --secondary-bg-colour: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* ---------------------------HEADER--------------------------- */
.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.subject {
  color: var(--accent-colour);
}
.header-link,
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-colour);
}
.header-contact {
  color: var(--text-colour);
}
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-colour);
}
.current {
  color: var(--accent-colour);
}
/* ---------------------------HERO-------------------------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: var(--accent-colour);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* ---------------------------BENEFITS-------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-colour);
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-colour);
}
/* ---------------------------ABOUT-------------------------- */

/* ---------------------------TEAM------------------------- */
.team {
  background-color: var(--secondary-bg-colour);
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-colour);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-colour);
}
/* ---------------------------FOOTER------------------------- */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
}
.adress-link,
.adress-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-item-link {
  color: rgba(255, 255, 255, 0.6);
}
.adress-link:hover,
.adress-link:focus,
.adress-item-link:hover,
.adress-item-link:focus {
  color: var(--accent-colour);
}
